.banner{
    margin: 3% auto;
    width: 75%;
    border: 20px solid rgba(46, 46, 46, 0.836);
    border-radius: 1%;

}
.card{
    margin: 5% 8%;
}
.card-img-bottom {
    width: 90%;
    margin: 0px 5%;
}
.carousel-control-prev, .carousel-control-next {

    margin: 0 5%;
}
.foot{
    background-color:#343a40;
    padding-bottom: 4%;
}

.card-item{
    justify-content: center;
    margin: 2% 10%;
}
.name-PDtype{
    margin-left: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 172, 202);
    width: 10%;
    text-align:center;
    border: 1px solid ;
    border-radius: 2cm;
    margin-top: 10px;
}
.functionbutton{
    width: 79vw;
    margin: 0 auto;
}
.btnbuy{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(7, 157, 237, 0.872);
    border-radius: 5px;
    width: 10%;
    text-align: center;
}
.btnbuy:hover{
    background-color: rgba(67, 44, 240, 0.801);
}
.btncontinue{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(6, 223, 179, 0.872);
}
.btncontinue:hover{
    background-color: rgba(12, 103, 88, 0.982);
}

.maincart {
    width: 80%;
    margin: 1vw auto;
}
.mainpay{
    width: 80%;
    margin: 1vw auto;
}
.mainnews{
    width: 80%;

}
.totalprice{
    border: 2px solid black;
    background-color: #6e6e6e;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -15px;
    padding-bottom: 10px;
}

.Cash{
    text-decoration: none;
} 
.CCard{
    text-decoration: none;

}
.Wallet{
    text-decoration: none;

}
.btnpay{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(6, 223, 179, 0.872);
    width: 15%;
}